@media (max-width: 480px) {
	.header {
		display: none;
	}

	.mobile-navigation {
		display: block;
	}

	.home {
		text-align: left;
	}

	.home-title {
		max-width: 250px;
		font-size: 32px;
	}

	.home-description {
		font-size: 14px;
	}

	.about-subtitle-ru,
	.about-subtitle-en,
	.about-description-ru,
	.about-description-en {
		font-size: 14px;
	}

	.history-section {
		padding: 50px 0 70px;
	}

	.history-photo {
		height: 480px;
	}

	.history-description {
		font-size: 14px;
	}

	.portfolio-picture {
		margin: 50px 0 30px;
	}

	.portfolio-description {
		font-size: 14px;
	}
}
